<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'/>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Evolution</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/main.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/bootstrap.min.css'>

    <script src="functions/ChooseCell.js"></script>
    <script src="functions/dependencies/sweetalert2@8.js"></script>
    <script src="functions/dependencies/sweetalert2.all.min.js"></script>
    <!-- Optional: include a polyfill for ES6 Promises for IE11 and Android browser -->
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>



</head>
    <div class="navbar">
    <ul class="nav nav-pills">
        <li class="nav-item"><a class="nav-link acvtive" id="navBrain"> Brain </a></li>
        <li class="nav-item"><a class="nav-link" id="navOptions"> Options </a></li>
        <li class="nav-item"><a class="nav-link" id="navDelete"> DELETE </a></li>
        <li class="nav-item"><a class="nav-link" id="navSave"> SAVE </a></li>

    </ul>
    </div>
<body>

<div class='MiddleSection'>             <!-- This will go in as inner html in ChooseCell / drawFirstElememnts() -->
    <div style="width: 50%; margin: 0 auto;" class="progress">
        <div id = 'EVOLUTION' class="progress-bar" style="width: 0%"  role="progressbar">
            <label id="EvolutionLabel">Evolution</label>           <!-- WHY THE FUCK THIS DOESNT CENTER-->
        </div>
    </div>

    <div>
        <button id='atp'>Add ATP </button>                                      <!-- Remember to delete me -->
        <div class="progress" style="width: 50%; margin: 0 auto;">            <!-- WHY THE FUCK THIS DOESNT CENTER-->
            <label class='resourceLabel' id="ATPLabel">atp: </label>
        </div>
    </div>

    <div>
        <div class="progress" style="width: 50%; margin: 0 auto;">            <!-- WHY THE FUCK THIS DOESNT CENTER-->
            <label class='resourceLabel'  id="FoodLabel">Food : </label>
        </div>
    </div>

    <div class="InteractableSection" style="height: 50%; width: 50%; margin: 0 auto;">
        <canvas>
            <!-- Cell goes here -->
        </canvas>
        <button id='EatFood'>Eat </button>

        <button id='Photosynthesize'>Photosynthesize </button>      <!-- Toggle these two depending on organism type -->
        <button id='Attack'>Attack micro-organism</button>


    </div>



</div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>

</body>
</html>