<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'/>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Evolution</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/main.css'>
    <script src="functions\chooseCell.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert"></script>

</head>

<body>
    <div id='BigBang'> 
        <h1 id=''>Big Bang</h1>
    </div>

    <div id="options">
        <button id="optionsButton" disabled=true>Options</button>
    </div>
    <div id="initButton">
            <button id="INIT" disabled=true>SPAWN BEING</button>
    </div>

</body>
</html>